* {
  margin: 3px;
}

div {
  margin-bottom: 20px;
}

input {
  width: 300px;
}

#texto {
  width: 700px;
  height: 400px;
}

#texto-impresso {
  border: 1px solid black;
  position: absolute;
  left: 48%;
  top: 10px;
  width: 50%;
  height: 95%;
  padding: 10px;
}