.app {
  text-align: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 40%;
}

fieldset {
  padding: 10px;
}